@using Bogus

</ul>
<h1 class="text-center">Tableau de bord</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex justify-content-around">
                <a href="https://diiage.cucdb.fr/" class="container w-75 text-decoration-none">
                    <div class="card bg-light mt-4 p-5 text-white text-center">
                        <div class="text-primary ">
                            <i class="fa-solid fa-users fa-5x"></i>
                        </div>
                        </br>
                        <p class="text-primary">
                            <b>@GenerateRandomNumber()</b>
                        </p>
                        <p class="text-primary">
                            Artistes
                        </p>
                    </div>
                </a>
                <a href="https://www.facebook.com/diiage/" class="container w-75 text-decoration-none">
                    <div class="card bg-light mt-4 p-5 text-white text-center">
                        <div class="text-primary">
                            <i class="fa-solid fa-user fa-5x"></i>
                        </div>
                        </br>
                        <p class="text-primary">
                            <b>@GenerateRandomName()</b>
                        </p>
                        <p class="text-primary">
                            Artiste le plus chroniqué
                        </p>
                    </div>
                </a>
                <a href="https://www.instagram.com/diiage.cucdb/?hl=en" class="container w-75 text-decoration-none">
                    <div class="card bg-light mt-4 p-5 text-white text-center">
                        <div class="text-primary">
                            <i class="fa-solid fa-trophy fa-5x"></i>
                        </div>
                        </br>
                        <p class="text-primary">
                            <b>@GenerateRandomName()</b>
                        </p>
                        <p class="text-primary">
                            Artiste avec le plus de titres
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-around">
            <a href="https://fr.linkedin.com/company/diiage" class="container w-75 text-decoration-none">
                <div class="card bg-light mt-4 p-5 text-white text-center">
                    <div class="text-primary">
                        <i class="fa-solid fa-book fa-5x"></i>
                    </div>
                    </br>
                    <p class="text-primary">
                        <b>@GenerateRandomNumber()</b>
                    </p>
                    <p class="text-primary">
                        Biographies d'artistes
                    </p>
                </div>
            </a>
            <a href="https://www.google.com/maps/place/C.U.C.D.B.+Centre+Universitaire+Catholique+De+Bourgogne/@@47.3348851,5.0514213,17z/data=!3m1!4b1!4m6!3m5!1s0x47f29dfee14743ed:0x7d1348ede68455cb!8m2!3d47.3348851!4d5.0540016!16s%2Fg%2F1td04cy3?entry=ttu" class="container w-75 text-decoration-none">
                <div class="card bg-light mt-4 p-5 text-white text-center">
                    <div class="text-primary">
                        <i class="fa-solid fa-compact-disc fa-5x"></i>
                    </div>
                    </br>
                    <p class="text-primary">
                        <b>@GenerateRandomTitleName()</b>
                    </p>
                    <p class="text-primary">
                        Titre le plus lu
                    </p>
                </div>
            </a>
            <a href="https://twitter.com/DiiageCucdb" class="container w-75 text-decoration-none">
                <div class="card bg-light mt-4 p-5 text-white text-center">
                    <div class="text-primary">
                        <i class="fa-solid fa-music fa-5x"></i>
                    </div>
                    </br>
                    <p class="text-primary">
                        <b>@GenerateRandomNumber()</b>
                    </p>
                    <p class="text-primary">
                        Titres
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-around">
            <a href="https://twitter.com/DiiageCucdb" class="container w-75 text-decoration-none">
                <div class="card bg-light mt-4 p-5 text-white text-center">
                    <div class="text-primary">
                        <i class="fa-solid fa-tags fa-5x"></i>
                    </div>
                    </br>
                    <p class="text-primary">
                        <b>@GenerateRandomNumber()</b>
                    </p>
                    <p class="text-primary">
                        Styles de musique
                    </p>
                </div>
            </a>
            <a href="https://twitter.com/DiiageCucdb" class="container w-75 text-decoration-none">
                <div class="card bg-light mt-4 p-5 text-white text-center">
                    <div class="text-dark font-size-3">
                        <i class="fa-regular fa-eye fa-5x"></i>
                    </div>
                    </br>
                    <p class="text-primary">
                        <b>@GenerateRandomNumber()</b>
                    </p>
                    <p class="text-primary">
                        Lectures
                    </p>
                </div>
            </a>
            <a href="https://twitter.com/DiiageCucdb" class="container w-75 text-decoration-none">
                <div class="card bg-light mt-4 p-5 text-white text-center">
                    <div class="text-dark w-5">
                        <i class="fa-solid fa-thumbs-up fa-5x"></i>
                    </div>
                    </br>
                    <p class="text-primary">
                        <b>@GenerateRandomNumber()</b>
                    </p>
                    <p class="text-primary">
                        Likes
                    </p>
                </div>
            </a>
        </div>
    </div>

</div>

@functions {
    public int GenerateRandomNumber()
    {
        Random random = new Random();
        return random.Next(100, 1001);
    }

    public string GenerateRandomName()
    {
        var faker = new Faker();
        var nombreMots = 20;
        var motAleatoire = faker.Name.FullName();
        return motAleatoire;
    }

    public string GenerateRandomTitleName()
    {
        var faker = new Faker();
        var nombreMots = 20;
        var nomAleatoire = faker.Lorem.Word();
        return nomAleatoire;
    }
}