@using Bogus

</ul>
<h1>Tableau de bord</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-around">
            <a href="https://diiage.cucdb.fr/" class="container w-75">
                <div class="card bg-secondary mt-4 p-5 text-white text-center">
                    <div>
                        <i class="fa-solid fa-users"></i>
                    </div>
                    </br>
                    <h3>
                        <b>@GenerateRandomNumber()</b>
                    </h3>
                    <p>
                        Artistes
                    </p>
                </div>
            </a>
            <a href="https://www.facebook.com/diiage/" class="container w-75">
                <div class="card bg-secondary mt-4 p-5 text-white text-center">
                    <div>
                        <i class="fa-solid fa-user"></i>
                    </div>
                    </br>
                    <h3>
                        <b>@GenerateRandomName()</b>
                    </h3>
                    <p>
                        Artiste le plus chroniqué
                    </p>
                </div>
            </a>
            <a href="https://www.instagram.com/diiage.cucdb/?hl=en" class="container w-75">
                <div class="card bg-secondary mt-4 p-5 text-white text-center">
                    <div>
                        <i class="fa-solid fa-trophy"></i>
                    </div>
                    </br>
                    <h3>
                        <b>@GenerateRandomName()</b>
                    </h3>
                    <p>
                        Artiste avec le plus de titres
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-around">
            <a href="https://fr.linkedin.com/company/diiage" class="container w-75">
                <div class="card bg-secondary mt-4 p-5 text-white text-center">
                    <div>
                        <i class="fa-solid fa-book"></i>
                    </div>
                    </br>
                    <h3>
                        <b>@GenerateRandomNumber()</b>
                    </h3>
                    <p>
                        Biographies d'artistes
                    </p>
                </div>
            </a>
            <a href="https://www.google.com/maps/place/C.U.C.D.B.+Centre+Universitaire+Catholique+De+Bourgogne/@@47.3348851,5.0514213,17z/data=!3m1!4b1!4m6!3m5!1s0x47f29dfee14743ed:0x7d1348ede68455cb!8m2!3d47.3348851!4d5.0540016!16s%2Fg%2F1td04cy3?entry=ttu" class="container w-75">
                <div class="card bg-secondary mt-4 p-5 text-white text-center">
                    <div>
                        <i class="fa-solid fa-compact-disc"></i>
                    </div>
                    </br>
                    <h3>
                        <b>@GenerateRandomTitleName()</b>
                    </h3>
                    <p>
                        Titre le plus lu
                    </p>
                </div>
            </a>
            <a href="https://twitter.com/DiiageCucdb" class="container w-75">
                <div class="card bg-secondary mt-4 p-5 text-white text-center">
                    <div>
                        <i class="fa-solid fa-music"></i>
                    </div>
                    </br>
                    <h3>
                        <b>@GenerateRandomNumber()</b>
                    </h3>
                    <p>
                        Titres
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-around">
            <a href="https://twitter.com/DiiageCucdb" class="container w-75">
                <div class="card bg-secondary mt-4 p-5 text-white text-center">
                    <div>
                        <i class="fa-solid fa-tags"></i>
                    </div>
                    </br>
                    <h3>
                        <b>@GenerateRandomNumber()</b>
                    </h3>
                    <p>
                        Styles de musique
                    </p>
                </div>
            </a>
            <a href="https://twitter.com/DiiageCucdb" class="container w-75">
                <div class="card bg-secondary mt-4 p-5 text-white text-center">
                    <div>
                        <i class="fa-regular fa-eye" style="color: #000000;"></i>
                    </div>
                    </br>
                    <h3>
                        <b>@GenerateRandomNumber()</b>
                    </h3>
                    <p>
                        Lectures
                    </p>
                </div>
            </a>
            <a href="https://twitter.com/DiiageCucdb" class="container w-75">
                <div class="card bg-secondary mt-4 p-5 text-white text-center">
                    <div>
                        <i class="fa-solid fa-thumbs-up" style="color: #000000;"></i>
                    </div>
                    </br>
                    <h3>
                        <b>@GenerateRandomNumber()</b>
                    </h3>
                    <p>
                        Likes
                    </p>
                </div>
            </a>
        </div>
    </div>
    
</div>

@functions{
    public int GenerateRandomNumber()
    {
        Random random = new Random();
        return random.Next(100, 1001);
    }

    public string GenerateRandomName()
    {
        var faker = new Faker();
        var nombreMots = 20;
        var motAleatoire = faker.Name.FullName();
        return motAleatoire;
    }

    public string GenerateRandomTitleName()
    {
        var faker = new Faker();
        var nombreMots = 20;
        var nomAleatoire = faker.Lorem.Word();
        return nomAleatoire;
    }
}