@model Webzine.WebApplication.Shared.ViewModels.GroupeTitreModel

@{
    ViewData["title"] = "Accueil";
}

<div>
    <h1>Derniers titres chroniqués</h1>

    @*Affiche 3 titres*@
    @foreach (var titre in Model.Titres.OrderBy(t => Guid.NewGuid()).Take(3))
    {
        <div class="card flex-row p-4">
            <div class="col-sm-3 col-lg-2">
                <a href="/Titre/" class="ratio ratio-1x1">
                    <img class="card-img-left w-100 h-100 example-card-img-responsive p-3 object-fit-cover" src="@titre.UrlJaquette">
                </a>
            </div>
            <div class="card-body p-0 ">
                <h4 class="card-title ml-4 ">
                    <a asp-controller="Artiste" asp-action="" class="text-decoration-none">
                        <span>@titre.Artiste.Nom</span>
                    </a> -
                    <a asp-controller="Titre" asp-action="" class="text-decoration-none">
                        <span>@titre.Libelle</span>
                    </a>
                </h4>
                <p class="card-text ml-4 ">@titre.Chronique</p>
                <div class="d-flex ml-4 ">
                    <a class="btn btn-primary p-2" href="/Titre/">Lire la suite</a>
                    <p><i class="fa-solid fa-calendar p-2"></i>@titre.DateCreation.ToString("dd/MM/yyyy HH:mm")</p>
                    @foreach (var style in @titre.Styles)
                    {
                        <p><i class="fa-solid fa-tags p-2"></i><a asp-controller="Titre" asp-action="Style"><p class="me-4 ">@style.Libelle</p></a></p>
                    }
                </div>
            </div>
        </div>
    }
    <div class="d-flex  justify-content-end">
        <a class="btn btn-secondary p-2 m-4" href="/">Titres plus anciens >></a>
    </div>
</div>

@*Affiche 3 titres*@
<div>
    <h1>Titres les plus populaires</h1>

    <div class="container">
        <div class="flex-row d-flex justify-content-between">
            @foreach (var titre in Model.Titres.OrderBy(t => Guid.NewGuid()).Take(3))
            {
                <div class="col-md-4 col-lg-3">

                    <div class="card">

                        <div class="ratio ratio-1x1">
                            <a asp-controller="Titre" asp-action="" class="text-decoration-none">
                                <img src="@titre.UrlJaquette" class="card-img-top w-100 h-100 object-fit-cover" alt="image">
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        <a asp-controller="Titre" asp-action="" class="text-decoration-none"><h5 class="card-title text-primary">@titre.Libelle</h5></a>
                        <p>
                            <span>par </span><a asp-controller="Artiste" asp-action="" class="text-decoration-none text-primary">@titre.Artiste.Nom</a>
                        </p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

