@model Webzine.WebApplication.ViewModels.DashboardModel

<h1>Tableau de bord</h1>
<hr>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex justify-content-around">
                @*Nombre d'artistes.*@
                <a asp-area="administration" asp-controller="artiste" asp-action="index" class="container w-75 ">
                    <div class="bg-light mt-4 p-5 text-white text-center">
                        <div class="text-primary ">
                            <i class="fa-solid fa-users fa-5x mb-2"></i>
                        </div>
                        <p class="fs-2 text-primary">
                            @Model.NbArtistes
                        </p>
                        <p class="text-primary">
                            Artistes
                        </p>
                    </div>
                </a>
                @*Artiste le plus chroniqué.*@
                <a asp-area="" asp-controller="artiste" asp-action="index" asp-route-nom="@Model.ArtistePlusChronique.Nom" class="container w-75 ">
                    <div class="bg-light mt-4 p-5 text-white text-center">
                        <div class="text-primary">
                            <i class="fa-solid fa-user fa-5x mb-2"></i>
                        </div>
                        <p class="fs-2 text-primary">
                            @Model.ArtistePlusChronique.Nom
                        </p>
                        <p class="text-primary">
                            Artiste le plus chroniqué
                        </p>
                    </div>
                </a>
                @*Artiste avec le plus de titres.*@
                <a asp-area="" asp-controller="artiste" asp-action="index" asp-route-nom="@Model.ArtistePlusDeTitres.Nom" class="container w-75 ">
                    <div class="bg-light mt-4 p-5 text-white text-center">
                        <div class="text-primary">
                            <i class="fa-solid fa-trophy fa-5x mb-2"></i>
                        </div>
                        <p class="fs-2 text-primary">
                            @Model.ArtistePlusDeTitres.Nom
                        </p>
                        <p class="text-primary">
                            Artiste avec le plus de titres provenant d'albums distincts
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-around">
            @*Nombre de briographies d'artistes.*@
            <a asp-area="administration" asp-controller="artiste" asp-action="index" class="container w-75">
                <div class="bg-light mt-4 p-5 text-white text-center">
                    <div class="text-primary">
                        <i class="fa-solid fa-book fa-5x mb-2"></i>
                    </div>
                    <p class="fs-2 text-primary">
                        @Model.NbBioArtiste
                    </p>
                    <p class="text-primary">
                        Biographies d'artistes
                    </p>
                </div>
            </a>
            @*Titre le plus lu.*@
            <a asp-area="=" asp-controller="titre" asp-action="index" asp-route-idTitre="@Model.TitrePlusLu.IdTitre" class="container w-75">
                <div class="bg-light mt-4 p-5 text-white text-center">
                    <div class="text-primary">
                        <i class="fa-solid fa-compact-disc fa-5x mb-2"></i>
                    </div>
                    <p class="fs-2 text-primary text-capitalize">
                        @Model.TitrePlusLu.Libelle
                    </p>
                    <p class="text-primary">
                        Titre le plus lu
                    </p>
                </div>
            </a>


            @*Nombre de titres.*@
            <a asp-area="administration" asp-controller="titre" asp-action="index" class="container w-75 ">
                <div class="bg-light mt-4 p-5 text-white text-center">
                    <div class="text-primary">
                        <i class="fa-solid fa-music fa-5x mb-2"></i>
                    </div>
                    <p class="fs-2 text-primary">
                        @Model.NbTitres
                    </p>
                    <p class="text-primary">
                        Titres
                    </p>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-around">
            @*Nombre de styles de musique.*@
            <a asp-area="administration" asp-controller="style" asp-action="index" class="container w-75 ">
                <div class="bg-light mt-4 p-5 text-white text-center">
                    <div class="text-primary">
                        <i class="fa-solid fa-tags fa-5x mb-2"></i>
                    </div>
                    <p class="fs-2 text-primary">
                        @Model.NbStyles
                    </p>
                    <p class="text-primary">
                        Styles de musique
                    </p>
                </div>
            </a>
            @*Nombre de lectures.*@
            <div class="bg-light mt-4 p-5 text-white text-center container w-75 ">
                <div class="text-dark font-size-3">
                    <i class="fa-solid fa-eye fa-5x mb-2"></i>
                </div>
                <p class="fs-2 text-dark">
                    @Model.NbLectures
                </p>
                <p class="text-dark">
                    Lectures
                </p>
            </div>
            @*Nombre de likes.*@
            <div class="bg-light mt-4 p-5 text-white text-center container w-75 ">
                <div class="text-dark w-5">
                    <i class="fa-solid fa-thumbs-up fa-5x mb-2"></i>
                </div>
                <p class="fs-2 text-dark">
                    @Model.NbLikes
                </p>
                <p class="text-dark">
                    Likes
                </p>
            </div>
        </div>
    </div>
</div>

@functions {
    public int GenerateRandomNumber()
    {
        Random random = new Random();
        return random.Next(100, 1001);
    }
}