@model Webzine.WebApplication.Shared.ViewModels.TitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["nomOnglet"] = "Chronique du titre";
}

@section Sidebar {
    @await Component.InvokeAsync("LayoutSideBar")
}

<div class="container">
    <div>
        @*Affichage du nom de l'artiste et du titre.*@
        <h3>
            <a asp-controller="Artiste" asp-action="" >
                <span class="text-primary">@Model.Titre.Artiste.Nom</span>
            </a>
            - @Model.Titre.Libelle
        </h3>
        @*Date de création de l'article, Nb de like, Styles, Like, Edition.*@
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8">
                    <div class="d-inline-flex">
                        <i class="fa-solid fa-calendar p-1"></i>
                        <p class="me-4 ">Le @Model.Titre.DateCreation.ToString("dd/MM/yyyy HH:mm")</p>
                    </div>
                    <div class="d-inline-flex">
                        <form>
                            <button type="submit" class="btn m-0 p-0"><i class="fa-solid fa-heart p-1"></i></button>
                        </form>
                        <p class="me-4 ">@Model.Titre.NbLikes</p>
                    </div>
                    <div class="d-inline-flex">
                        <i class="fa-solid fa-tags p-1"></i>
                        <p>
                            Styles :
                            @foreach (var style in Model.Titre.Styles)
                            {
                                <a asp-controller="Titre" asp-action="Style"><span class="me-4 ">@style.Libelle</span></a>
                            }
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="d-inline-flex">
                        <a class="btn btn-outline-primary">
                            <i class="fa-solid fa-thumbs-up" style="color: #4995d0;"></i>
                            like
                        </a>
                    </div>
                    <div class="d-inline-flex">
                        <a asp-area="Admin" asp-controller="Titre" asp-action="Edit" >
                            <i class="fa-solid fa-edit text-primary p-2" style="color: #74C0FC;"></i>
                            Editer
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Affichage de la chronique et de la jaquette.*@
    <div class="row">
        <div class="d-flex flex-column justify-content-start text-justify col-md-7">
            <p>@Model.Titre.Chronique</p>
        </div>
        <div class="col-md-5">
            <div class="d-flex flex-column align-items-center">
                <img src="@Model.Titre.UrlJaquette" alt="Image" class="rounded img-fluid custom-shape w-100 h-100 ratio ratio-1x1 example-card-img-responsive p-3 object-fit-cover">
            </div>
        </div>
    </div>

    @*Affichage de la vidéo.*@
    <div class="text-center">
        <iframe class="w-100" height="500" src="https://www.youtube.com/embed/U9OQAySv184?si=H4HRfSLHIEpucdGl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    @*Formulaire pour émettre un commentaire.*@
    <div class="mt-5">
        <h3>Donne ton avis sur le titre</h3>

        <form asp-controller="Commentaire" asp-action="Index" method="post" class="d-flex">
            <div class="container">
                @foreach (var commentaire in Model.Titre.Commentaires.Take(1))
                {
                    <div class="form-group row mb-5">
                        <div class="col-md-2">
                            <label asp-for="@commentaire.Auteur" class="form-label"></label><span class="text-danger">*</span>
                        </div>
                        <div class="col-md-10">
                            <input placeholder="Votre nom (exemple : Emmanuel)" type="text" id="nameInput" class="form-control" required>
                        </div>
                    </div>
                    <div class="form-group row mb-5">
                        <div class="col-md-2">
                            <label asp-for="@commentaire.Contenu" for="commentsInput" class="form-label"></label><span class="text-danger">*</span>
                        </div>
                        <div class="col-md-10">
                            <textarea placeholder="Votre commentaire..." class="form-control" id="commentsInput" rows="10" cols="10" required></textarea>
                        </div>
                    </div>
                }

                @*Bouton d'ajout du titre.*@
                <div class="form-group row mb-5">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10">
                        <div>
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    @*Détails des commentaires.*@
    <div class="mt-5">
        <h3>Commentaires</h3>
        <div class="col-md-8">
            @foreach (var commentaire in Model.Titre.Commentaires.OrderByDescending(c => c.DateCreation))
            {
                <div class="row p-3">
                    <div class="col-md-2">
                        <img src="/images/avatar.png" alt="Image du créateur" class="img-fluid rounded-circle">
                    </div>
                    <div class="col-md-10">
                        <h5 class="card-title">
                            @commentaire.Auteur
                            <span class="text-secondary">le @commentaire.DateCreation.ToString("dd/MM/yyyy HH:mm")</span>
                        </h5>
                        <p class="card-text">@commentaire.Contenu</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


