@model Webzine.WebApplication.ViewModels.TitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Chronique d'un titre";
}

@section Sidebar {
    @await Component.InvokeAsync("LayoutSideBar")
}

<div class="container">
    <div>
        @*Affichage du nom de l'artiste et du titre.*@
        <h3>
            <a asp-area="" asp-controller="artiste" asp-action="index" asp-route-nom="@Model.Titre.Artiste.Nom">
                <span class="text-primary">@Model.Titre.Artiste.Nom</span>
            </a>
            - @Model.Titre.Libelle
        </h3>
        @*Date de création de l'article, Nb de like, Styles, Like, Edition.*@
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-8">
                    <div class="d-inline-flex">
                        <i class="fa-solid fa-calendar p-1"></i>
                        <p class="me-4 ">Le @Model.Titre.DateCreation.ToString("dd/MM/yyyy HH:mm")</p>
                    </div>
                    <div class="d-inline-flex">
                        <form method="post" asp-controller="titre" asp-action="liker" asp-route-id="@Model.Titre.IdTitre">
                            <input type="hidden" asp-for="@Model.Titre.IdTitre" />
                            <button type="submit" class="btn m-0 p-0"><i class="fa-solid fa-heart p-1"></i></button>
                        </form>
                        <p class="me-4 ">@Model.Titre.NbLikes</p>
                    </div>
                    <div class="d-inline-flex">
                        <i class="fa-solid fa-tags p-1"></i>
                        <p>
                            Styles :
                            @{
                                var random = new Random();
                                var nombreDeStyles = random.Next(1, 4);
                            }

                            @foreach (var style in Model.Titre.Styles)
                            {
                                <a asp-area="" asp-controller="titre" asp-action="style" asp-route-style="@style.Libelle"><span class="me-4 ">@style.Libelle</span></a>
                            }
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="d-inline-flex">
                        <form method="post" asp-controller="titre" asp-action="liker" asp-route-id="@Model.Titre.IdTitre">
                            <input type="hidden" asp-for="@Model.Titre.IdTitre" />
                            <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-thumbs-up icone"></i>like</button>
                        </form>                        
                    </div>
                    <div class="d-inline-flex">
                        <a asp-area="administration" asp-controller="titre" asp-action="edit" asp-route-id="@Model.Titre.IdTitre">
                            <i class="fa-solid fa-edit text-primary p-2 icone"></i>
                            Editer
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*Affichage de la chronique et de la jaquette.*@
    <div class="row mt-4">
        <div class="col-lg-12 pt-4 pt-lg-0">
            <img src="@Model.Titre.UrlJaquette" alt="Image" class="float-end imgshadow w-30 h-30 object-fit-cover example-card-img-responsive m-3">
            <p class="justify-chronique">@Model.Titre.Chronique</p>
        </div>
    </div>

    @*Affichage de la vidéo.*@
    <div class="text-center">
        <iframe class="w-100" height="500" title="YouTube video player" src="@Model.Titre.UrlEcoute" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>

    @*Formulaire pour émettre un commentaire.*@
    <partial name="~/Views/Titre/Commenter.cshtml" />

    @*Détails des commentaires.*@
    <div class="mt-5">
        <h3>Commentaires</h3>
        <div class="col-md-8">
            @foreach (var commentaire in Model.Commentaires)
            {
                <div class="row p-3">
                    <div class="col-md-2">
                        <img src="/images/avatar.png" alt="Image du créateur" class="img-fluid rounded-circle">
                    </div>
                    <div class="col-md-10">
                        <h5 class="card-title">
                            @commentaire.Auteur
                            <span class="text-secondary">le @commentaire.DateCreation.ToString("dd/MM/yyyy HH:mm")</span>
                        </h5>
                        <p class="card-text">@commentaire.Contenu</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


