@model Webzine.WebApplication.Shared.ViewModels.GroupeTitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Titres par style";
}
@section Sidebar {
    @await Component.InvokeAsync("LayoutSideBar")
}

@*Affichage du nom de la page.*@
@{
        ViewData["titrePage"] = "Titres ayant le style " + Model.Libelle;
}
<hr />
<p>Nombre de titres : @Model.Titres.Count()</p>

@*Affichage des titres.*@

@foreach (var titre in Model.Titres)
{
    <div class="row mb-2">
        <div class="col-md-1">
            <img src="@titre.UrlJaquette" alt="Image" class="img-fluid custom-shape w-100 h-100 object-fit-cover">
        </div>
        <div class="col-md-6 mt-1">
            <a asp-controller="Artiste" asp-action="Index" asp-route-id="@titre.Artiste.IdArtiste">@titre.Artiste.Nom -</a>
            <a asp-controller="Titre" asp-action="" asp-route-id="@titre.IdTitre">@titre.Libelle</a>
            <p>Durée : @titre.Duree.ToString(@"mm\:ss")</p>
        </div>
    </div>
}