@model Webzine.WebApplication.Shared.ViewModels.TitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Créer un titre";
}


@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = "Créer un titre";
}
<hr />

@*Formulaire de création de la page*@
<form asp-area="Admin" asp-controller="Titre" asp-action="Create" method="post" class="d-flex">
    <div class="container">
        <div class="form-group row mb-5">
            <div class="col-md-2">
                <label asp-for="@Model.Titre.Artiste.Nom" class="form-label"></label><span class="text-danger">*</span>
            </div>
            <div class="col-md-10">
                <input asp-for="@Model.Titre.Artiste.Nom" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row mb-5">
            <div class="col-md-2">
                <label asp-for="@Model.Titre.Libelle" class="form-label"></label><span class="text-danger">*</span>
            </div>
            <div class="col-md-10">
                <input asp-for="@Model.Titre.Libelle" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row mb-5">
            <div class="col-md-2">
                <label asp-for="@Model.Titre.Album" class="form-label"></label><span class="text-danger">*</span>
            </div>
            <div class="col-md-10">
                <input asp-for="@Model.Titre.Album" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row mb-5">
            <div class="col-md-2">
                <label asp-for="@Model.Titre.Chronique" class="form-label"></label><span class="text-danger">*</span>
            </div>
            <div class="col-md-10">
                <textarea asp-for="@Model.Titre.Chronique" type="text" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group row mb-5">
            <div class="col-md-2">
                <label asp-for="@Model.Titre.DateSortie" class="form-label"></label><span class="text-danger">*</span>
            </div>
            <div class="col-md-4">
                <input asp-for="@Model.Titre.DateSortie" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class=" form-control">
            </div>
            <div class="col-md-2">
                <label asp-for="@Model.Titre.Duree" class="form-label"></label><span class="text-danger">*</span>
            </div>
            <div class="col-md-4">
                <div class=" input-group">
                    <input asp-for="@Model.Titre.Duree" type="number" class="form-control">
                    <span class="input-group-text">secondes</span>
                </div>
            </div>
        </div>
        <div class="form-group row mb-5">
            <div class="col-md-2">
                <label asp-for="@Model.Titre.UrlJaquette" class="form-label"></label><span class="text-danger">*</span>
            </div>
            <div class="col-md-10">
                <input asp-for="@Model.Titre.UrlJaquette" type="text" class="form-control">
            </div>
        </div>
        <div class="form-group row mb-5">
            <div class="col-md-2">
                <label asp-for="@Model.Titre.UrlEcoute" class="form-label"></label>
            </div>
            <div class="col-md-10">
                <input asp-for="@Model.Titre.UrlEcoute" type="text" class="form-control">
            </div>
        </div>
        <div class="row align-items-top">
            <div class="col-md-2">
                <label asp-for="@Model.Titre.Styles" class="form-label"></label>
            </div>
            <div class="col-md-10">
                <div class="row">
                    @foreach (var style in Model.Titre.Styles)
                    {
                        <div class="col-md-4">
                            <div class="form-check align-top">
                                <input class="form-check-input" value="@style.Libelle" type="checkbox" name="styles[]">
                                <label class="form-check-label" asp-for="@style.Libelle">@style.Libelle</label>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>


        @*Bouton d'ajout du titre.*@
        <div class="form-group row mb-5">
            <div class="col-md-2">
            </div>
            <div class="col-md-10">
                <div>
                    <a class="btn btn-primary m-4" href="#">Créer</a>
                </div>
            </div>
        </div>


        @*Bouton de retour à l'adminitration des titres.*@
        <a class="text-decoration-none fw-normal" asp-area="Admin" asp-controller="Titre" asp-action="Index">Retour à l'administration des titres</a>
    </div>
</form>
