@model Webzine.WebApplication.Shared.ViewModels.TitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Editer un titre";
}

@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = "Editer un titre";
}
<hr />

@*Formulaire d'édition' de la page.*@
<div>
    <form method="post" asp-area="Admin" asp-action="Edit" asp-controller="Titre" class="d-flex">
        <input type="hidden" asp-for="@Model.Titre.IdTitre" />
        <div class="container">
            <div class="form-group row mb-5">
                <div class="col-md-2">
                    <label asp-for="@Model.Titre.Artiste.Nom" class="form-label required-label"></label>
                </div>
                <div class="col-md-10">
                    <select asp-for="@Model.Titre.Artiste.Nom" asp-items="@(new SelectList(Model.Artistes, "Nom", "Nom"))" class="form-control">
                        <option value="">Sélectionner un artiste</option>
                    </select>
                    <span asp-validation-for="@Model.Titre.Artiste.Nom" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-5">
                <div class="col-md-2">
                    <label asp-for="@Model.Titre.Libelle" class="form-label required-label"></label>
                </div>
                <div class="col-md-10">
                    <input asp-for="@Model.Titre.Libelle" type="text" class="form-control">
                    <span asp-validation-for="@Model.Titre.Libelle" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-5">
                <div class="col-md-2">
                    <label asp-for="@Model.Titre.Album" class="form-label required-label"></label>
                </div>
                <div class="col-md-10">
                    <input asp-for="@Model.Titre.Album" type="text" class="form-control">
                    <span asp-validation-for="@Model.Titre.Album" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-5">
                <div class="col-md-2">
                    <label asp-for="@Model.Titre.Chronique" class="form-label required-label"></label>
                </div>
                <div class="col-md-10">
                    <textarea asp-for="@Model.Titre.Chronique" type="text" class="form-control"></textarea>
                    <span asp-validation-for="@Model.Titre.Chronique" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-5">
                <div class="col-md-2">
                    <label asp-for="@Model.Titre.DateSortie" class="form-label required-label"></label>
                </div>
                <div class="col-md-4">
                    <input asp-for="@Model.Titre.DateSortie" type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")" class=" form-control">
                    <span asp-validation-for="@Model.Titre.DateSortie" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="@Model.Titre.Duree" class="form-label required-label"></label>
                </div>
                <div class="col-md-4">
                    <div class=" input-group">
                        <input placeholder="@Model.Titre.Duree" asp-for="@Model.Titre.Duree" type="text" class="form-control">
                        <span class="input-group-text">secondes</span>
                        <span asp-validation-for="@Model.Titre.Duree" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-5">
                <div class="col-md-2">
                    <label asp-for="@Model.Titre.UrlJaquette" class="form-labelrequired-label"></label>
                </div>
                <div class="col-md-10">
                    <input asp-for="@Model.Titre.UrlJaquette" type="text" class="form-control">
                    <span asp-validation-for="@Model.Titre.UrlJaquette" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-5">
                <div class="col-md-2">
                    <label asp-for="@Model.Titre.UrlEcoute" class="form-label"></label>
                </div>
                <div class="col-md-10">
                    <input asp-for="@Model.Titre.UrlEcoute" type="text" class="form-control">
                    <span asp-validation-for="@Model.Titre.UrlEcoute" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mb-5">
                <div class="row align-items-top">
                    <div class="col-md-2">
                        <label asp-for="@Model.Titre.Styles" class="form-label"></label>
                    </div>
                    <div class="col-md-10">
                        <div class="row">
                            @foreach (var style in Model.Styles)
                            {
                                <div class="col-md-4">
                                    <div class="form-check align-top">
                                        <input class="form-check-input" type="checkbox" value="@style.IdStyle" name="styleIds"
                                        @(Model.StylesIds.Any(s => s.IdStyle == style.IdStyle) ? "checked" : "") />
                                        <span asp-validation-for="@style.Libelle" class="text-danger"></span>
                                        <label class="form-check-label" asp-for="@style.Libelle">@style.Libelle</label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="form-group row mb-5">
                    <div class="col-md-2">
                        <label asp-for="@Model.Titre.NbLectures" class="form-label required-label"></label>
                    </div>
                    <div class="col-md-10">
                        @Model.Titre.NbLectures
                    </div>
                </div>
                <div class="form-group row mb-5">
                    <div class="col-md-2">
                        <label asp-for="@Model.Titre.NbLikes" class="form-label required-label"></label>
                    </div>
                    <div class="col-md-10">
                        @Model.Titre.NbLikes
                    </div>
                </div>

                @*Bouton d'ajout du titre.*@
                <div class="form-group row mb-5">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-10">
                        <div>
                            <button type="submit" class="btn btn-primary mb-5">
                                Sauvegarder
                            </button>
                        </div>
                    </div>
                </div>

                @*Bouton de retour à l'adminitration des titres.*@
                <a class=" fw-normal" asp-area="Admin" asp-controller="Titre" asp-action="Index">
                    Retour à l'administration des titres
                </a>
            </div>
        </div>
    </form>
</div>