@model Webzine.WebApplication.ViewModels.TitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["nomOnglet"] = "Editer un titre";
}


<div class="container">
        @*Affichage du nom de la page*@
        <h3>Modifier un titre</h3>
        <hr/>
        @*Formulaire de création de la page*@
    <div class="mt-5">
        @*ATTENTION !!! CORRIGER LES for en asp-for et ajouter adp-action...etc...!!*@
        <form action="#" method="post">
            <div class="mb-3">
                <label for="nomArtiste" class="form-label">Nom de l'artiste</label>
                <input placeholder=@Model.Titre.Artiste.Nom type="text" class="form-control" id="nomArtiste" name="nomArtiste" required>
            </div>
            <div class="mb-3">
                <label for="titre" class="form-label">Titre</label>
                <input placeholder=@Model.Titre.Libelle type ="text" class="form-control" id="titre" name="titre" required>
            </div>
            <div class="mb-3">
                <label for="album" class="form-label">Album</label>
                <input placeholder=@Model.Titre.Album type ="text" class="form-control" id="album" name="album" required>
            </div>
            <div class="mb-3">
                <label for="chronique" class="form-label">Chronique</label>
                <textarea placeholder=@Model.Titre.Chronique class="form-control" id="chronique" name="chronique" rows="4" required></textarea>
            </div>
            <div class="mb-3">
                <label for="dateSortie" class="form-label">Date de sortie</label>
                <input placeholder=@Model.Titre.DateSortie.ToString("dd/MM/yyyy") type="text" class="form-control" id="dateSortie" name="dateSortie" required>
            </div>
            <div class="mb-3">
                <label for="duree" class="form-label">Durée en secondes</label>
                <input placeholder=@Model.Titre.Duree. type ="number" class="form-control" id="duree" name="duree" required>
            </div>
            <div class="mb-3">
                <label for="jaquette" class="form-label">Jaquettes de l'album</label>
                <input placeholder=@Model.Titre.UrlJaquette type ="text" class="form-control" id="jaquette" name="jaquette" required>
            </div>
            <div class="mb-3">
                <label for="urlEcoute" class="form-label">URL d'écoute</label>
                <input placeholder=@Model.Titre.UrlEcoute type ="text" class="form-control" id="urlEcoute" name="urlEcoute" required>
            </div>
            <div class="mb-3">
                <label class="form-label">Styles</label>
                
                    @*Nouvel objet Random.*@
                    @{
                        var random = new Random();
                    }
                    @foreach(var style in Model.Titre.Styles)
                    {
                    /// <summary>
                    /// Génération un nombre aléatoire en 0 et 1.
                    /// <summary>
                    var randomValue = random.Next(0, 2);
                    /// <summary>
                    /// Utiliser le nombre aléatoire pour déterminer si la checkbox doit être cochée.
                    /// <summary>
                    var isChecked = randomValue == 1 ? "checked" : "";
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="@style.Libelle" id="@style.Libelle" name="styles[]" @isChecked>
                        <label class="form-check-label" for="@style.Libelle">
                            @style.Libelle
                        </label>
                    </div>
                    }
                    
            </div>
            <button type="submit" class="btn btn-primary">Créer</button>
        </form>
            </div> 
            
            <p>Nombre de lectures* : @Model.Titre.NbLectures</p>
            <p>Nombre de likes* : @Model.Titre.NbLikes</p>

        
    </div>

    @*Lien vers le retour à l'administration du titre*@
    <div>
        <a href="/Admin/Titre/"> Retour à l'administration des titres'</a>
    </div>


</div>