@model Webzine.WebApplication.Shared.ViewModels.GroupeTitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Liste des titres";
}

@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = "Titres";
}
<hr />

<div class="container">
    @*Création du bouton "Ajouter un nouveau titre.*@
    <a asp-area="Admin" asp-controller="Titre" asp-action="Create" class="btn btn-primary mb-4">
        <i class="fa-solid fa-plus button"></i>
        Ajouter un nouveau titre
    </a>

    @*Afficher la liste des titres.*@
    <table class="table table-striped table-bordered">

        <thead>
            <tr class="table-secondary custom-no-border">
                <th scope="col">Artistes</th>
                <th scope="col">Titres</th>
                <th scope="col">Durée</th>
                <th scope="col">Date de sortie</th>
                <th scope="col"><i class="fa-solid fa-eye"></i></th>
                <th scope="col"><i class="fa-solid fa-thumbs-up"></i></th>
                <th scope="col"><i class="fa-solid fa-comments"></i></th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var titre in Model.Titres)
            {
                <tr>
                    <td>@titre.Artiste.Nom</td>
                    <td>@titre.Libelle</td>
                    <td>@TimeSpan.FromSeconds(double.Parse(titre.Duree)).ToString(@"mm\:ss")</td>
                    <td>@titre.DateSortie.ToString("dd/MM/yyyy")</td>
                    <td>@titre.NbLectures</td>
                    <td>@titre.NbLikes</td>
                    <td>@(titre.Commentaires?.Count ?? 0)</td>
                    <td class="text-center">
                        <div class="d-flex justify-content-center">
                            <a asp-area="Admin" asp-controller="Titre" asp-action="Edit" asp-route-id="@titre.IdTitre">
                                <i class="fa-solid fa-edit text-primary p-1 icone"></i>
                            </a>
                            <a asp-area="Admin" asp-controller="Titre" asp-action="Delete" asp-route-id="@titre.IdTitre">
                                <i class="fa-solid fa-trash text-primary p-1 icone"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="d-flex  justify-content-end">
    @if (Model.NumeroPage > 0)
    {
        <a class="btn btn-secondary p-2 m-4" asp-area="Admin" asp-controller="Titre" asp-action="Index" asp-route-NumeroPage="@(Model.NumeroPage - 1)">
            &lt;&lt; Titres plus récents
        </a>
    }

    <a class="btn btn-secondary p-2 m-4" asp-area="Admin" asp-controller="Titre" asp-action="Index" asp-route-NumeroPage="@(Model.NumeroPage + 1)">
        Titres plus anciens >>
    </a>
</div>






