@model Webzine.WebApplication.Areas.Titres.ViewModels.TitreModel

<h2>Details du titre</h2>

@*Boucle à travers chaque titre dans la liste Titres du modèle*@
@foreach (var titre in Model.Titres)
{
    @*Affichage des détails de chaque titre*@
    <p>Libellé : @titre.Libelle</p>
    <p>Durée du titre : @titre.Duree</p>
    <p>Date de sortie : @titre.DateSortie</p>
    <p>Date de création : @titre.DateCreation</p>
    <p>Nombre de vues : @titre.NbLectures</p>
    <p>Nombre de likes : @titre.NbLikes</p>
    <p>Album : @titre.Album</p>
    <p>Chronique : @titre.Chronique</p>
    <p>Jaquette : @titre.UrlJaquette</p>
}