@model Webzine.WebApplication.Shared.ViewModels.GroupeTitreModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Recherche";
}
@section Sidebar {
    @await Component.InvokeAsync("LayoutSideBar")
}

@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = $"Résultats de la recherche pour \"{Model.Recherche}\"";
}
<hr />

@if (Model.Artistes.Any())
{
    // Affichez la liste des titres ici
    <p class="fs-2">Artistes</p>
    foreach (var artiste in Model.Artistes)
    {
        <div class="d-inline">
            <i class="fa-solid fa-user"></i>
            <a asp-area="" asp-controller="artiste" asp-action="index" asp-route-nom="@artiste.Nom">@artiste.Nom</a>
        </div>
    }
}
else
{
    <p class="fs-2">Artistes</p>
    <p>Aucun artiste.</p>
}

@if (Model.Titres.Any())
{
    <p class="fs-2 mt-4">Titres</p>
    foreach (var titre in Model.Titres)
    {
        <div class="row mb-3">
            <div class="col-md-1">
                <img src="@titre.UrlJaquette" alt="Image" class="img-fluid custom-shape w-100 h-100 object-fit-cover">
            </div>
            <div class="col-md-6 mt-1">
                <a asp-area="" asp-controller="titre" asp-action="index" asp-route-idTitre="@titre.IdTitre">@titre.Artiste.Nom - @titre.Album - @titre.Libelle</a>
                <p>Durée : @TimeSpan.FromSeconds(double.Parse(titre.Duree)).ToString(@"mm\:ss")</p>
            </div>
        </div>
    }
}
else
{
    <p class="fs-2">Titres</p>
    <p>Aucun titre.</p>
}