@model Webzine.WebApplication.Shared.ViewModels.ArtisteModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Artiste";
}
@section Sidebar {
    @await Component.InvokeAsync("LayoutSideBar")
}

@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = @Model.Artiste.Nom;
}
<hr>

<p>@Model.Artiste.Biographie</p>
<p class="fs-1">Albums</p>

<hr>

@*Affichage des titres.*@
@foreach (var titre in Model.Artiste.Titres)
{
    <div class="row">

        <div class="row">
            <div class="col-md-2">
                <img src="@titre.UrlJaquette" alt="Image" class="img-fluid custom-shape ratio ratio1x1">
            </div>

            <div class="col-md-10 mb-5">

                @*Afficher la liste des Titres.*@
                <table class="table">

                    <thead>
                        <tr>
                            <th class="fs-3 colspan=2 border-0">
                                <div class="text-nowrap">
                                @titre.Album
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-start w-25">Durée</th>
                            <th class="text-start">Titre</th>
                        </tr>
                    </thead>

                    <tbody>
                            <tr>
                            <td class="text-start">@TimeSpan.FromSeconds(double.Parse(titre.Duree)).ToString(@"mm\:ss")</td>
                                <td class="text-start"><a asp-controller="titre" asp-action="index" asp-route-id="@titre.IdTitre">@titre.Libelle</a></td>
                            </tr>                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}