@model Webzine.WebApplication.Shared.ViewModels.GroupeArtisteModel

@*Configuration dynamique du nom de l'onglet.*@
@{
    ViewData["title"] = "Artiste";
}
@section Sidebar {
    @await Component.InvokeAsync("LayoutSideBar")
}

@*Affichage du nom de la page.*@
@{
    ViewData["titrePage"] = @Model.Artistes.First().Nom;
}
<hr>

<p>@Model.Artistes.First().Biographie</p>
<p class="fs-1">Albums</p>

<hr>

@{
    var titresArray = Model.Artistes.First().Titres.ToArray();
    var nombreDeTitres = titresArray.Length;
}

@*Affichage des titres.*@
@foreach (var titre in Model.Artistes.First().Titres)
{
    <div class="row">

        <div class="row">
            <div class="col-md-2">
                <img src="@titre.UrlJaquette" alt="Image" class="img-fluid custom-shape ratio ratio1x1">
            </div>

            <div class="col-md-10 mb-5">

                @*Afficher la liste des Titres.*@
                <table class="table">

                    <thead>
                        <tr>
                            <th class="fs-3 colspan=2 border-0">
                                <div class="text-nowrap">
                                @titre.Album
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="text-start w-25">Durée</th>
                            <th class="text-start">Titre</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            var random = new Random();
                            var nombreDeRepetitions = random.Next(1, 10);
                        }

                        @for (int i = 0; i < nombreDeRepetitions; i++)
                        {
                            <tr>
                                @{
                                    // Obtenir une durée et un libellé aléatoire à partir du tableau de titres
                                    var titreAleatoire = titresArray[random.Next(nombreDeTitres)];
                                }

                                <td class="text-start">@titreAleatoire.Duree.ToString(@"mm\:ss")</td>
                                <td class="text-start"><a asp-controller="Titre" asp-action="" asp-route-id="@titre.IdTitre">@titreAleatoire.Libelle</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}